@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200&family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@100;400;500&display=swap');
body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before,::after{
    box-sizing: border-box;
}
.aside{
    width: 270px;
    background: red;
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid black;
    z-index: 10;
}