*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    z-index: 5;
    position: sticky;
    top: 0;
    width: 100%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    background-color: white;
    font-family: sans-serif;
    height: 80px;
}

.navbar{
    position: relative;
    height: 100%;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo>a>img{
    width: 80%;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav > ul > li {
    list-style: none;
    padding: 35px;
}

nav > ul > li > a {
    text-decoration: none;
    color: #806d74;
}

.fa-solid{
    font-size: 12px;
}

/* Navbar buttons styling */

.btn1{
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    height: 40px;
    /* margin-top: 4%; */
    padding: 5px 20px;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 5px;
}
.btn1>a{
    color: #00b289;
    text-decoration: none;
}

.btn1:hover{
    background-color: #00b289;
    color: white;
}

.btn1:hover>a{
    color: white;
}

.btn2{
    height: 40px;
    /* margin-top: 4%; */
    padding: 5px 20px;
    background-color: #00b289;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 5px;
}

.btn2>a{
    color: white;
    text-decoration: none;
}

.btn2:hover{
    background-color: #019b77;
}


/* Styling DropDown Menu Of Templates section
1. Give position relative to the container */

.dropdown2{
    z-index: 1;
    position: absolute;
    width: 35%;
    /* height: 400px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 100%;
    left: 300px;
    opacity: 0;
    visibility: hidden;
    /* transition: 2s; */
    background-color: white;
}

nav>ul>li:hover .dropdown2{
    /* top: 100%; */
    opacity: 1;
    visibility: visible;
}

/* Styling DropDown Menu Of Products section
1. Give position relative to the container */

.dropdown1{
    z-index: 1;
    position: absolute;
    width: 30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    top: 100%;
    left: 340px;
    opacity: 0;
    visibility: hidden;
    background-color: white;
}

nav>ul>li:hover .dropdown1{
    opacity: 1;
    visibility: visible;
}

/* Styling content of DropDown Menu Of Products section */

.dropdown1{
    padding: 15px 30px;
}

.productDropdown{
    margin-top: 20px;
    margin-bottom: 25px;
}

.productDropdown>a{
    text-decoration: none;
    color: #806d74;
}

.productDropdown>a>h2{
    margin-bottom: 10px;
    font-size: 21px;
}

.productDropdown>a>p{
    font-size: 17px;
}

/* Styling content of DropDown Menu Of Template section */

.dropdown2{
    margin: auto;
}

.dropdown2>div:first-child{
    margin-top: 20px;
}

.dropdown2>div:last-child{
    margin-bottom: 15px;
}

.templatesDropdown{
    padding: 15px;
    margin: auto;
    margin-top: 5px;
    width: 80%;
}

.templatesDropdown>a{
    display: flex;
    gap: 20px;  
    text-decoration: none;
    color: #806d74;
    font-size: 14px;
}

.templatesDropdown:hover{
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}